<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cookies - Short Explanation</title>
</head>
<body>
    <h1>Cookies</h1>
    <h2>The best solution for avoiding the loss of a session persistence</h2>
    <br/>
    <p>
        The communication between a client and a server is carried out by a communication session.<br/><br/>
        The session has a limited memory, so after a while the server finally "forgets" about an existence of a client.<br/><br/>
        Cookie is a small piece of data that contains information for more efficient future identification process of a client by the server.<br/><br/>
        The cookie has a special template of key's and values, and a special mechanism during an identification process.
    </p>
</body>
</html>